@import "tailwindcss";

@theme {
    --color-primary: #FFCE1A;
    --color-secondary: #0D0842;
    --color-blackBG: #F3F3F3;
    --color-Favorite: #FF5841;

    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Nunito", sans-serif;
}